#channelSection {
  position: absolute;
  width: 8em;
  z-index: 600;
  top: 0;
  bottom: 2rem;
  right: 0rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  margin: auto 0;
  transition: right 1s ease-in-out;
}

body {
  /* -webkit-font-smoothing: antialiased;
  font-smooth: auto; */
}

.individualChannel {
  background-color: rgba(19, 19, 19, 0.822);
  padding: 1.5rem 0 1.5rem 1rem;
  margin: 0.5rem 0;
  color: #ddd;
  cursor: pointer;
  font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
  font-size: 0.8rem;
  font-weight: 800;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.58);
  border-radius: 1rem 0 0 1rem;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-highlight: rgba(255, 255, 255, 0);
  border: 1px solid rgba(56, 56, 56, 0.08);
}
.active {
  background-color: rgba(112, 112, 112, 0.911) !important;
}

.deleteChannel {
  -webkit-animation: slideRight 1s ease-in-out forwards;
  animation: slideRight 1s ease-in-out forwards;
  right: 0rem;
  position: relative;
  padding: 1.5rem 0 1.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 0.8rem;
  background: rgba(255, 0, 0, 0.466) !important;
  border: 1px solid rgba(56, 56, 56, 0.08);
}

@-webkit-keyframes slideRight {
  50% {
    right: -10rem;
    font-size: 0.8rem;
    padding: 1.5rem 0 1.5rem 1rem;
    margin: 0.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0);
  }
}

@keyframes slideRight {
  50% {
    right: -10rem;
    font-size: 0.8rem;
    padding: 1.5rem 0 1.5rem 1rem;
    margin: 0.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes slideRight {
  100% {
    right: -10rem;
    font-size: 0rem;
    margin: 0;
    padding: 0;
    height: 0;
    border: 0px solid rgba(0, 0, 0, 0);
  }
}

@keyframes slideRight {
  100% {
    right: -10rem;
    font-size: 0rem;
    margin: 0;
    padding: 0;
    height: 0;
    border: 0px solid rgba(0, 0, 0, 0);
  }
}

.fadeOut {
  -webkit-animation: fadeOut 0.5s ease-in-out forwards;
  animation: fadeOut 0.5s ease-in-out forwards;
  opacity: 1;
}

@-webkit-keyframes fadeOut {
  50% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s ease-in-out forwards;
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.vjs-control-bar {
  z-index: 700;
}

.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  opacity: 0.25;
}

.toggle {
  width: 45%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 2rem;
  z-index: 600;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* -webkit-highlight: rgba(255, 255, 255, 0); */
}

.title {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
}

#logo {
  padding: 0.3rem 0.4rem;
  /* position: absolute; */
  float: left;
}
h1 {
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.9rem;
  color: rgb(215, 215, 215);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.58);
  float: left;
  margin-left: 0.5rem;
}

.inactiveChannels {
  right: -7.8em !important;
}

#fullscreenButton {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2rem;
  width: 7rem;
  z-index: 900;
}

iframe,
#videoSection {
  border: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: inherit;
}

#videoSection,
iframe {
  /* width: 100wh;
	height: 90vh; */
  color: #fff;
  background: linear-gradient(-45deg, #4172bd, #07202e, #b6b9bd, #132f68);
  background-size: 400% 400%;
  -webkit-animation: Gradient 25s ease infinite;
  -moz-animation: Gradient 25s ease infinite;
  animation: Gradient 25s ease infinite;
}

iframe {
  background-color: rgba(0, 0, 0, 0);
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.video-js {
  background-color: rgba(0, 0, 0, 0) !important;
}

.vjs-modal-dialog .vjs-modal-dialog-content {
  padding: 10% 20%;
  display: none;
}

#channelLogo {
  max-width: 5rem;
  height: 5.5rem;
  position: absolute;
  top: 2.4rem;
  left: 0.5rem;
}

#channelLogo img {
  width: 100%;
}
