body {
  /* position: initial; */
  margin: 0;
  padding: 0;
  background-color: #000;
  z-index: 10;
}

#channelSection {
  position: absolute;
  width: 7em;
  z-index: 600;
  bottom: 32px;
  right: 0;
  top: 4px;
  /* vertical-align: middle; */
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  margin: auto 0;
}

.individualChannel {
  background-color: rgba(72, 72, 72, 0.71);
  padding: 1.5rem 1rem;
  margin: 0.3rem 0rem;
  color: white;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.vjs-control-bar {
  z-index: 700;
  /* position: relative; */
}

.active {
  background-color: rgba(138, 138, 138, 0.85) !important;
}

.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  opacity: 1;
}
