#channelSection {
  position: absolute;
  width: 8em;
  z-index: 600;
  top: 2.5rem;
  bottom: 2.5rem;
  right: 0rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  margin: auto 0;
  transition: right 1s ease-in-out;
}

.individualChannel {
  background-color: rgba(72, 72, 72, 0.71);
  padding: 1.3rem 0.8rem;
  margin: 0.8rem 0rem;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.76em;
}

.vjs-control-bar {
  z-index: 700;
}

.active {
  background-color: rgba(138, 138, 138, 0.85) !important;
}

.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  opacity: 0.25;
}

.title {
  width: 5rem;
  /* height: 3rem; */
  font-weight: 800;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.81);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.85);
  top: 0;
  right: 0;
  position: absolute;
  z-index: 800;
  padding: 0.75rem 1rem;
  text-align: left;
  cursor: pointer;
}

.inactiveChannels {
  right: -7.8em !important;
}

#fullscreenButton {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2rem;
  width: 7rem;
  z-index: 900;
}
